
body {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 500px;
    
}

.navbar {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px;
    margin-right: 230px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-style: bold;
}

.nav {
    display: flex;
    font-size: 18px;
}

li, a {
    margin-left: 100px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.herotext {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: -30px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: white;
    background-color: #3882f6;
    border-radius: 100px;
    height: 30px;
    width: 100px;
    border: 2px solid 3882f6;
    box-shadow: none;
    
}

.boxes {
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 500px;
}

.subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    height: 100%;
}

.quote {
    color: #1f2937;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 100px;
    width: 1000px;
}

.thor {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-left: 400px;
}

.footer {
    display: flex;
    color: white;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    flex-grow: 100%;
    height: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.call {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.call .container {
    background-color: #3882f6;
    color: white;
    display: flex;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxtext {
display: flex;
justify-content: center;
align-items: center;
font-size: 36px;
font-style: bold;
font-weight: bolder;
color: #1f2937;
margin-top: 50px;
}

.subtext {
    display: flex;
    
}

.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 30px;
    margin-top: -100px;
}

img {
    border-radius: 10px;
}

.box1 img, .box2 img, .box3 img, .box4 img {
    border: 5px solid #3882f6;
}